﻿@page "/counter"
@using Models
@rendermode InteractiveServer

<h3>Add Food Item</h3>

<div>
    <form @onsubmit="AddFoodItem">
        <label for="foodName">Food Name:</label>
        <input id="foodName" @bind="_foodName"/>

        <label for="calories">Calories:</label>
        <input id="calories" @bind="_calories" type="number"/>

        <button type="submit">Add Food Item</button>
    </form>
</div>

@code {
    private string _foodName;
    private int _calories;

    private async Task AddFoodItem()
    {
        // Create a new DefinedFoodItem
        var newFoodItem = new FoodItem
        {
            Name = _foodName,
            Calories = _calories
        };

        // Add the new food item to the database
        DatabaseContext.DefinedFoodItems.Add(newFoodItem);
        await DatabaseContext.SaveChangesAsync();
    }

}