﻿@page "/"
@using Models

<PageTitle>Daily Tracker</PageTitle>

<!-- Food Entry Form -->

<!-- Display Defined Food Items -->
<div>
    <h4>Defined Food Items</h4>
    <ul>
        @foreach (var foodItem in _definedFoodItems)
        {
            <li>@foodItem.Name - @foodItem.Calories calories</li>
        }
    </ul>
</div>

<!-- Display Tracked Items -->
<div>
    <h4>Tracked Items</h4>
    <ul>
        @foreach (var trackedItem in _trackedActivities)
        {
            <li>
                @if (trackedItem is FoodActivity foodActivity)
                {
                    <span>Consumed: @foodActivity.Name - @foodActivity.Calories</span>
                }
                else if (trackedItem is CustomActivity customActivity)
                {
                    <span>Custom Activity: @customActivity.Name</span>
                }
            </li>
        }
    </ul>
</div>

@code {
    private List<FoodItem> _definedFoodItems;
    private List<TrackedEntity> _trackedActivities;

    protected override void OnInitialized()
    {
        // Retrieve defined food items and tracked items from the database
        _definedFoodItems = DatabaseContext.DefinedFoodItems.ToList();
        _trackedActivities = DatabaseContext.TrackedActivities.ToList();
    }
}